# Environment variables
.env

# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# IDE / Editor specific
.vscode/
.idea/

# Build artifacts
dist/
build/
*.egg-info/

# macOS specific
.DS_Store 